{
  "env": {
    "browser": 1
  },
 
  "globals": {
    "angular": 1,
    "$": 1,
    "google": 1,
    "CryptoJS": 1,
    "moment": 1,
    "NProgress": 1
  },
 
  "rules": {
    "quotes": [2, "single"],
    "eqeqeq": 0,
    "strict": 1,
    "camelcase": 0,
    "no-new": 0,
    "no-return-assign": 0,
    "new-cap": 0
  }
}